     <!DOCTYPE html>
<html>
<head>
    <title>House</title>
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

    <style>
        form#insertHouse {
            border: 5px;
            border-style: solid;
            border-color: black;
            padding: 10px;
            display: inline-block;
            background-color: white;
            opacity: 0.9;
        }

        div.centerThis {
            text-align: center;
        }
        body {
            background-image: url("https://s20.postimg.cc/vfl2h6pbh/game_of_thrones_house_flags_wallpaper_3201.jpg");
        }
    </style>
<!-- custom css -->
<link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
</head>
<body>
            <!-- navbar -->
            <nav class='navbar navbar-expand-lg navbar-dark navbar-style'>
                <a href='./' class='navbar-brand text-uppercase'>
                    <i class="fab fa-fort-awesome"></i>
                    Game of Thrones </a>
            
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="./">Home <span class="sr-only">(current)</span></a>
                    </div>
                </div>
            </nav>
    <div class="container">
        <div class="centerThis">
            <form action = "/house" method = "post" id="insertHouse">
                <div class="mx-auto">
                    <h2 style="text-align: center">Noble House Insert Form</h2>
                </div>
                <div class = "mx-auto" style="width: 500px">
                    <div class="form-group">
                        <p>House Name:
                            <input class='form-control' type="text" name="name" maxlength="30" placeholder="Stark">
                        </p>
                    </div>
                    <label>Status:
                        <select name="status">
                            <option value="greatHouse">Great House</option>
                            <option value="extinct">Extinct</option>
                            <option value="vassal">Vassal</option>
                        </select>
                    </label>
                    <label>Origin:
                    <select name="characterID">
                        <option value="origin">Value taken from Database</option>
                        <input id="idFromLocation" name="house" type="hidden" value="DOMStringInputtedLater">
                    </select>
                </label>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>